.primary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
  height: 20vh;
  width: 100vw;
}

.input {
  height: 6vh;
  width: 45vw;
  background: url("https://img.icons8.com/material-outlined/30/000000/pin.png")
    right no-repeat;
  padding-right: 17px;
  cursor: pointer;
  border-top: 1px solid grey;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  border-bottom: none;
  border-radius: 8px 8px 0px 0px;
}

.input1 {
  height: 8vh;
  width: 45vw;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  border-bottom: none;
  border-top: none;
  outline: none;
}

.p1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input3 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 5vh;
  width: 45vw;
  border-top: none;
  border-bottom: 1px solid grey;
  border-left: 1px solid grey;
  border-right: 1px solid grey;

  border-radius: 0px 0px 8px 8px;
}

.icons:hover {
  background-color: lightgrey;
  border-radius: 12px;
}
