.row {
  display: flex;
  flex-direction: column;
  margin-left: 400px;
  margin-bottom: 50px;
  height: 40vh;
  border-radius: 12px 12px 12px 12px;
  width: 40vw;
  border-width: 1px;
  border-style: solid;
}

.row1 {
  display: flex;
  justify-content: flex-start;
  font-size: 18px;
  font-weight: 500;
  height: 40px;
  align-items: center;
}

.row2 {
  display: flex;
  justify-content: flex-start;
  height: 25vh;
}

.row3 {
  display: flex;
  justify-content: end;
  height: 8vh;
  margin-top: 3px;
  border-radius: 0px 0px 12px 12px;
  background-color: #ededed;
}
